################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

AssemblerProject/.vscode/
AssemblerProject/build/
*.code-workspace