################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Assembler/.vs/Assembler/v16
/Assembler/Debug
/Assembler/Assembler/Debug
